.container{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.header{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hero{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.build{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.real{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bottom{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}